/***************
 ページ全体
***************/
.md-grid {
    max-width: 95%;
}

/***************
 中央コンテンツ
***************/
[dir=ltr] .md-sidebar--secondary:not([hidden])~.md-content>.md-content__inner {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

/***************
 画像
***************/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/***************
 見出し背景
***************/

/* 題 */
h1 {

    background: black;

    border-radius: 0.45em;

    padding: 0.6em;

    position: relative;
}

h1.md-search-result__title {
    background: white;
}


/* 章 */
h2 {
    /* 背景：色 */
    background: #d7d7d7;
    /* 左線：太さ，色 */
    border-left: 0.95em solid #2980B9;

    /* 上外部余白：大きさ */
    margin-top: 1.5em;
    /* 内部余白：文字周り */
    padding: 0.6em;
}

/* 節 */
h3 {
    background: #ffffd5;

    border-bottom: dotted 0.06em gray;

    border-top: dotted 0.06em gray;
    /*行高*/
    line-height: 1.4;
    /*アイコン分のスペース*/
    padding: 0.5em 0.5em 0.5em 1.5em;

    /* 画像より背面 */
    position: relative;
    z-index: 1;
}

h3:before {
    /*アイコン色*/
    color: #2980B9;
    /*アイコンのユニコード*/
    content: "\f138";
    /*絶対位置*/
    position: absolute;

    font-family: "FontAwesome", serif;
    /*サイズ*/
    font-size: 1.1em;
    /*アイコンの位置*/
    left: 0.25em;
    /*アイコンの位置*/
    top: 0.45em;
}

/***************
 文字
***************/

.md-typeset {
    font-size: 1.35em
}

.md-typeset h1 {
    color: white;
    font-size: 1.5em;
}

.md-typeset h2 {
    font-size: 1.2em;
}

.md-typeset h3 {
    font-size: 1.1em;
}

.md-typeset h4 {
    font-size: 1.0em;
}

/***************
 サイドバー
***************/
.md-nav {
    font-size: 0.7rem;
}

.md-sidebar {
    width: 18.0rem;
}

/***************
 ヘッダー
***************/

.md-ellipsis {
    font-family: 'メイリオ', 'Meiryo', sans-serif;
    font-size: 1.3em;
}

.md-tabs__list {
    /** 均等に配置 **/
    display: flex;
    justify-content: space-between;
}

.md-tabs__item {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    /** 段数を増やす場合
    float:left;
    **/
}

.md-tabs__link {
    color: white;
    font-size: 0.6rem;
    opacity: 1;
}

/***************
 URL
***************/
.md-typeset a {
    font-size: 0.88em
}
